/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --main-color: #000028;
  --text-color: #f1b2ce;
  --fsize: 18px;
  --ffily: IBM Plex Mono;
  --title-content-color: #ff0070;
  --title-color: #db00ff;
  --bg: url(../images/cover-image-dark.png);
  --record: #ff0070;
  --border: #ff007066;
  --bg-color: #000028;
  --decoration: #FF0070;
}