/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background-color: var(--bg-color);
  background-image: var(--bg);
  background-attachment: fixed;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button {
  padding-inline: 13px;
  cursor: pointer;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.record {
  font-family: var(--ffily), "monospace", sans-serif;
  color: var(--record);
  font-size: var(--fsize);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  right: 28px;
  position: absolute;
}

.record::after {
  content: "";
  box-shadow: 0px 0px 4px 2px var(--record);
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: var(--record);
  z-index: 5;
  position: absolute;
  right: -20px;
}

.decorative {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--decoration);
  border-inline-start: transparent;
  border-block-end: transparent;
  position: absolute;
  right: 0;
}

.title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-family: var(--ffily), "monospace", sans-serif;
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  margin-inline-start: -20px;
  margin-block-end: 35px;
}

.text-start {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-block-end: 60px;
}

h4 {
  font-weight: 400;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--main-color);
  font-family: var(--ffily), "monospace", sans-serif;
  font-size: var(--fsize);
  font-weight: 700;
  line-height: 23.4px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  margin-inline-start: 1px;
}

.header__theme-menu-list {
  list-style-type: none;
  gap: 10px;
  display: flex;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-family: var(--ffily), "monospace", sans-serif;
  color: var(--decoration);
  font-size: var(--fsize);
}

.header__theme-menu-button:focus {
  border-block-end: 1px solid var(--decoration);
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decoration);
  pointer-events: none;
}

.decorative_end {
  width: 25px;
  height: 25px;
  border: 1px solid var(--decoration);
  border-inline-end: transparent;
  border-block-start: transparent;
  position: absolute;
  bottom: 40px;
}

.footer .decorative_end {
  bottom: 0;
}

.link {
  text-shadow: 2px 1px 0 var(--accent-color);
  transition: border 0.3 ease;
  text-decoration: none;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--text-color);
  outline: none;
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
}

.content {
  font-family: var(--ffily), "monospace", sans-serif;
  font-size: var(--fsize);
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
}

.title-decoration {
  color: var(--accent-color);
  font-family: var(--ffily), "monospace", sans-serif;
  font-size: var(--fsize);
  font-weight: 700;
  line-height: 23.4px;
}

.text-why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-block-start: 40px;
}

.text-what {
  display: grid;
  margin-block-start: 80px;
  grid-template-rows: 0.25fr 0.75fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.grid-item {
  grid-column-start: 1;
  grid-column-end: 4;
}

.text-how {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-block-start: 19px;
  column-gap: 10px;
}

.grid-item-last {
  grid-row-start: 1;
  grid-row-end: 7;
  margin-block-end: 20px;
}

.title-in {
  margin-block-end: 10px;
}

.title-smol {
  font-weight: 400;
}

.text-in {
  margin-block-end: 20px;
}

.title-images {
  margin-block-start: 80px;
  margin-block-end: 20px;
}
.text-what .title-in {
  margin-block-end: 0;
}

.gap {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.images {
  display: grid;
  gap: 19px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-block-end: 80px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image:first-of-type {
  grid-column: 1/3;
  grid-row: 1/2;
}

.image:nth-of-type(2) {
  grid-row: 1/3;
  grid-column: 3/4;
}

.image:nth-of-type(3) {
  grid-row: 2/4;
  grid-column: 1/2;
}

.image:nth-of-type(5) {
  grid-row: 3/4;
  grid-column: 2/4;
}

.last-text-in {
  margin-block-end: 0;
}

.title-content {
  color: var(--title-content-color);
  max-width: 315px;
}

.focus {
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 27px;
}

.title-footer {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-family: var(--ffily), "monospace", sans-serif;
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  text-shadow: 2px 2px 0 var(--accent-color);
  margin-block-end: 34px;
}

.flex-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: grid
}

.title-up {
  max-width: 491px;
}

@media (max-width:767px) {
  .text-why .title-content {
    margin-block-start: 30px;
  }

  .page {
    padding: 10px;
  }

  .header__theme-menu {
    justify-content: flex-end;
    margin-block-start: 64px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .title {
    margin-block-start: 15px;
    margin-inline-start: 0px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .title-up {
    margin-block-start: 5px;
  }

  .title-content {
    margin-block-start: 50px;
    max-width: 355px;
  }

  .decorative_end {
    bottom: 20px;
  }

  .section-content {
    display: flex;
    flex-direction: column;
  }

  .text-why {
    margin-block-start: 0px;
    gap: 20px;
  }

  .text-what {
    margin-block-start: 0px;
  }

  .text-how {
    margin-block-start: 0;
  }

  .images {
    display: flex;
    flex-direction: column;
    margin-block-end: 50px;
    gap: 10px;
  }

  .title-images {
    margin-block-start: 50px;
    margin-block-end: 10px;
  }

  .title-footer {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    ;
    margin-block-end: 20px;
  }
}

@media (768px <=width < 1023px) {
  .header__theme-menu {
    justify-content: flex-end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
  }

  .title {
    margin-block-end: 35px;
  }

  .text-start {
    margin-block-end: 77px;
  }

  .title-up {
    max-width: 364px;
  }

  .title-content {
    width: 236px;
  }

  .text-why {
    gap: 20px;
  }

  .text-what {
    display: flex;
    flex-direction: column;
    margin-block-start: 80px;
  }

  .text-how {
    margin-block-start: 80px;
    column-gap: 20px;
  }

  .images {
    margin-block-end: 60px;
  }

  .decorative_end {
    margin-block-start: 138px;
  }

  .focus {
    margin-top: 80px;
  }

  .title-footer {
    margin-block-end: 0;
  }

  .footer .decorative {
    margin-block-start: 20px;
  }
}